<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/resources :: head(pageTitle='Pizzeria')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='pizzas')}"></nav>
<div class="container">
    <h1>Le nostre Pizze</h1>
    <hr>
    <div class="d-flex justify-content-between align-items-center my-3">
        <!--LINK AGGIUNGI NUOVA PIZZA-->
        <a class="btn btn-primary" th:href="@{/pizzas/create}">Aggiungi Pizza</a>
        <!--FORM DI RICERCA-->
        <div>
            <form th:action="@{/pizzas}" method="GET">
                <div class="input-group">
                    <input type="search" th:value="${searchInput}" class="form-control" placeholder="Cerca per nome..."
                           name="keyword">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th>Immagine</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzas}">
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.description}"></td>
            <td th:text="${pizza.price + ' €'}"></td>
            <td><img th:src="${pizza.photo}" width="100" height="100" alt="Pizza"></td>
            <td>
                <a th:href="@{|/pizzas/${pizza.id}|}"><i class="fa-solid fa-magnifying-glass"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="alert alert-info" th:if="${pizzas.isEmpty()}">Nessuna pizza presente</p>
</div>
</body>
</html>